
<%# EJS COMMENT The index.ejs view just shows links to login or register. %>


<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<% if (user) { %>
   
   
<% } else { %>
    
    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <h2>Clothing Store</h2>
          
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Welcome</a></li>
          
        </ul>
  
        <div class="col-md-3 text-end">
            <a class="btn btn-outline-primary me-2" href="/sessions/logon">Login </a>
          
          <a class="btn btn-primary" href="/sessions/register">Sign-up</a>

        </div>
      </header>
    </div>

    
<% } %>
<%- include("partials/footer.ejs") %>